@keyframes OuterCircleRotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes InnerCircleRotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.pdf-loader{
  border: 10px solid transparent;
  border-radius: 50%;
  border-right-color: #ff0000;
  border-left-color: #ff0000;
}

.hidden{
  display: none;
}