@keyframes OuterCircleRotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes InnerCircleRotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

@keyframes MaterialsContainerLoaderAnim {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(360deg);
  }
  75%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes MaterialsLoaderAnim {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-180deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes WelcomePageHeader {
  0%{
    top: -2vh;
    opacity: 0;
  }
  100%{
    top: 0vh;
    opacity: 1;
  }
}

.pdf-loader{
  border: 10px solid transparent;
  border-radius: 50%;
  border-right-color: #ff0000;
  border-left-color: #ff0000;
}

.hidden{
  display: none;
}